/* 記事一覧 */
.article-all {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 記事概要 */
.article-index {
    width: 600px;
    height: 160px;
    padding: 10px 0;
    box-sizing: border-box;
}

.article-index>a {
    height: 100%;
    display: flex;
    /* 画像とテキスト情報の上部を揃える */
    align-items: flex-start;
}

.article-index>a>div {
    /* 画像とその他を横並びで配置 */
    display: inline-block;
    height: 100%;
    background-color: #aaaaaa;
}

/* 記事概要 記事画像 */
.article-index-thumbnail {
    width: 35%;
    height: auto;
}

.article-index-thumbnail img {
    width: 100%;
    height: auto;
    /* 画像を縦横比を維持して表示 */
    object-fit: cover;
}

/* 記事概要 記事情報 */
.article-index .abstract {
    width: 65%;
    height: 100%;
    display: flex;
    /* タイトルと情報を上下に配置 */
    flex-direction: column;
    justify-content: space-between;
}

/* 記事概要 タイトル */
.article-index-title {
    margin: 10px;
}

/* 記事概要 記事情報 */
.article-index-info {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.article-index-info * {
    margin: 0;
    padding: 0;
}

/* 記事概要 投稿日時 */
.article-index-date time {
    opacity: 0.5;
    font-style: italic;
}

/* 記事概要 カテゴリ */
.article-index-category {
    opacity: 0.5;
}