/* フッター 共通設定 */
footer {
    background-color: #191970;
    color: #ffffff;
    display: flex;
    flex-direction: column;

    /* フッター内の破線 */
    .dashed-line::after {
        background-image: linear-gradient(to right, var(--color-base) 8px, transparent 4px);
    }
}

/* フッター 記事マップ */
.footer-article-map {
    width: 960px;
    margin: 0 auto;

    /* 内容を横並びにする */
    display: flex;
    justify-content: space-evenly;
}

/* フッター アーカイブ */
.archive-list {
    width: 320px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

/* フッター カテゴリ */
.category-list {
    width: 320px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

/* フッター 情報 */
.footer-info-area {
    width: 960px;
    margin: 0 auto;
}

/* フッター タイトル */
.footer-title {
    padding: 10px;

    & a {
        width: 400px;
        margin: 0 auto;
        font-size: 2rem;
        text-align: center;
        display: block;
    }

    & span {
        color: #ffffff;
    }

}

/* フッター リンクリスト */
.footer-link-list {
    width: 240px;
    margin: 10px auto;

    & a {
        color: #ffffff;
    }
}

.footer-link-list .footer-siteMap {
    width: 120px;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
}

.footer-contact {
    width: 120px;
    padding: 0 10px;
    box-sizing: border-box;
}

/* フッター アイコン一覧 */
.footer-icon-list {
    width: 320px;
    margin: 20px auto 10px;
}

/* フッター コピーライト */
.footer-copyright {
    width: 400px;
    margin: 30px auto 10px;
    text-align: center;
    font-size: 0.8em;
}