/* 記載形式 */
/*

[tag or class or id]{
    width: ~
    height: ~

    margin: ~
    padding: ~

    [about color or font]: ~
    ...
    
    other: ~

}

*/

/* 全タグ共通設定 */

body {
    /* 変数設定 */
    /* アクセントカラー */
    --color-accent: #9EC2C2;
    /* ベースカラー */
    --color-base: #F8F4F2;
    /* テキストカラー */
    --color-text: #5D4E72;
    /* アクセントカラー ホバー時 */
    --color-accent-hover: rgba(158, 194, 194, 0.1);
    /* ホバー時のベースカラー */
    --color-base-hover: rgba(248, 244, 242, 0.1);


    /* アニメーション方法 */
    /* 短め 0.3s */
    --animation-time-short: 0.3s;
    /* 普通 0.5s */
    --animation-time-normal: 0.5s;
    /* 長め 0.8s */
    --animation-time-long: 0.8s;

    /* 背景色 */
    background-color: var(--color-base);
    /* テキストカラー */
    color: var(--color-text);

    padding: 0;
    margin: 0;

    /* background-image: url("../img/background.gif"); */
}

.phone {
    display: none;
}

#menu-btn-check {
    display: none;
}

/* フォント設定 */
@font-face {
    font-family: 'makinas';
    src: url('../fonts/Makinas-4-Square.otf');
}

@font-face {
    font-family: 'ipaexGothic';
    src: url('../fonts/ipaexg.ttf');
}

@font-face {
    font-family: 'ipaexMincho';
    src: url('../fonts/ipaexm.ttf');
}

/* 文字装飾の初期化 */
a {
    text-decoration: none;
    color: var(--color-text);
}

body * {
    font-family: 'ipaexGothic';
    box-sizing: border-box;
}

/* ナビゲーションバー 共通 */
.navbar {
    display: flex;
    align-items: center;
}

.navbar * {
    margin: 0;
}

.navbar div {
    margin: 0 auto;
}

.navbar ul {
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/* 要素の下に波線を描画 */
.wave-line {
    position: relative;
    font-size: 24px;
    padding-bottom: 20px;
}

.wave-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    /* svgを使用して波線を描画 */
    /* パラメータの説明:
    M0,5: 始点
    Q6.25,0 12.5,5: 制御点1
    12.5,5: 制御点2
    T25,5: 終点
    fill="transparent": 塗りつぶしなし
    stroke="black": 線の色
    stroke-width="1.5": 線の太さ
    */
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10"><path d="M0,5 Q9.375,0 18.75,5 T37.5,5 M50,5 Q59.375,0 68.75,5 T87.5,5" fill="transparent" stroke="%235D4E72" stroke-width="2"/></svg>') repeat-x;
}

/* 要素の下に破線を描画 */
.dashed-line {
    position: relative;
    padding-bottom: 10px;
}

.dashed-line::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    /* 破線をlinear-gradientで描画 */
    background-image: linear-gradient(to right, var(--color-text) 8px, transparent 4px);
    background-size: 12px 2px;
    background-repeat: repeat-x;
    background-position: right bottom;
}

/* コンテンツ 背景設定 */
.content-block-area {
    padding: 5px;
}

/* コンテンツブロック内の要素にパディングを追加 */
.content-block-area>* {
    padding: 5px;
}

/* コンテンツタイトル */
.content-title {
    height: 2rem;

    margin: 5px;
    padding-bottom: 10px;

    line-height: 2.5rem;
    font-weight: bold;
    font-size: 1.75rem;

    /* 文字の間隔 */
    letter-spacing: 0.1em;

    box-sizing: content-box;
}

/* アンカーラッパー */
.anchor-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* 表示設定 */
.content {
    width: 960px;
    height: auto;

    margin: 0 auto 60px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

/* メインコンテンツ */
.main-content {
    width: 660px;
    padding: 10px;
    padding-right: 5px;
    /* background-color: #dddddd; */
    box-sizing: border-box;
}

/* メインコンテンツ 表示用スペース */
.main-content-space {
    padding: 5px;
    background-color: #ffffff;
    /* border: 1px solid #000033; */
}

/* メインコンテンツ 投稿ヘッダー */
.entry-header div {
    margin-left: 5px;
}

/* メインコンテンツ コンテンツ内容 */
.content-detail {
    margin: 5px;
    line-height: 1.5rem;
}



/* メインコンテンツ ナビゲーションバー */
.main-content .navbar {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.main-navbar {
    height: 100%;
    text-align: center;
}

.main-navbar ul {
    height: 100%;
}

.main-navbar li {
    width: 35%;
    height: 100%;
}

.main-navbar a {
    height: 100%;
    margin: 10px 10px 5px;
    padding: 3px;
    color: #ffffff;
    background-color: #0050dd;
    display: block;
    box-sizing: border-box;
}

.main-navbar span {
    height: 100%;
    border: 2px #ffffff dashed;
    display: block;
    box-sizing: border-box;

    line-height: 3rem;
    font-size: 1.1rem;
}

.main-navbar a:hover {
    color: #0050dd;
    background-color: #ffffff;
}

.main-navbar a:hover span {
    border-color: #0050dd;
}









@media screen and (max-width: 959px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}