/* 記載形式 */
/*

[tag or class or id]{
    width: ~
    height: ~

    margin: ~
    padding: ~

    [about color or font]: ~
    ...
    
    other: ~

}

*/

/* 全タグ共通設定 */

body {
    /* 変数設定 */
    --color-accent: #9EC2C2;
    --color-base: #F8F4F2;
    --color-text: #5D4E72;
    padding: 0;
    margin: 0;
    background-color: var(--color-base);

    /* background-image: url("../img/background.gif"); */
}

.phone {
    display: none;
}

#menu-btn-check {
    display: none;
}

/* フォント設定 */
@font-face {
    font-family: 'makinas';
    src: url('../fonts/Makinas-4-Square.otf');
}

@font-face {
    font-family: 'ipaexGothic';
    src: url('../fonts/ipaexg.ttf');
}

@font-face {
    font-family: 'ipaexMincho';
    src: url('../fonts/ipaexm.ttf');
}

/* 文字装飾の初期化 */
a {
    text-decoration: none;
    color: var(--color-text);
}

body * {
    font-family: 'ipaexGothic';
    box-sizing: border-box;
}

/* コンテンツ 背景設定 */
.content-block-area {
    padding: 5px;
}

/* 表示設定 */
.content {
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

/* メインコンテンツ */
.main-content {
    width: 660px;
    padding: 10px;
    padding-right: 5px;
    /* background-color: #dddddd; */
    box-sizing: border-box;
}

/* メインコンテンツ 表示用スペース */
.main-content-space {
    padding: 5px;
    background-color: #ffffff;
    /* border: 1px solid #000033; */
}

/* メインコンテンツ 投稿ヘッダー */
.entry-header div {
    margin-left: 5px;
}

/* メインコンテンツ コンテンツ内容 */
.content-detail {
    margin: 5px;
    line-height: 1.5rem;
}



/* メインコンテンツ ナビゲーションバー */
.main-content .navbar {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.main-navbar {
    height: 100%;
    text-align: center;
}

.main-navbar ul {
    height: 100%;
}

.main-navbar li {
    width: 35%;
    height: 100%;
}

.main-navbar a {
    height: 100%;
    margin: 10px 10px 5px;
    padding: 3px;
    color: #ffffff;
    background-color: #0050dd;
    display: block;
    box-sizing: border-box;
}

.main-navbar span {
    height: 100%;
    border: 2px #ffffff dashed;
    display: block;
    box-sizing: border-box;

    line-height: 3rem;
    font-size: 1.1rem;
}

.main-navbar a:hover {
    color: #0050dd;
    background-color: #ffffff;
}

.main-navbar a:hover span {
    border-color: #0050dd;
}



/* 記事一覧 */
.article-all {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 記事概要 */
.article-index {
    width: 290px;
    height: auto;
    padding: 10px 0;
    box-sizing: border-box;
}

.article-index a {
    display: block;
    background-color: #aaaaaa;
}

/* 記事概要 記事画像 */
.article-index-thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 記事概要 タイトル */
.article-index-title {
    margin: 0;
    color: #000044;
}

/* 記事概要 記事情報 */
.article-index .abstract {
    padding-bottom: 5px;
}

.article-index .abstract * {
    margin: 5px;
}

/* 記事概要 投稿日時 */
.article-index-date time {
    opacity: 0.5;
    font-style: italic;
}

/* 記事概要 カテゴリ */
.article-index-category {
    opacity: 0.5;
}



/* サイドバー */
.side-bar {
    width: 300px;
    padding: 10px;
    padding-left: 5px;
    /* background-color: #dddddd; */
    display: flex;
    flex-direction: column;
}

.side-bar .content-block-area {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

/* コンテンツタイトル */
.content-title {
    height: 2rem;
    margin: 5px;
    padding-bottom: 5px;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.25rem;

    box-sizing: content-box;

    background-image: linear-gradient(90deg, #0050dd 0 5px, transparent 5px 15px, #808080 15px);
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-position: bottom;
}

/* サイドバー プロフィール */
.side-profile {
    padding: 5px;
    /* background-color: #cccccc; */
}

.side-profile img {
    width: 120px;
    height: 120px;
    margin: 5px auto 10px;
    display: block;
}

.side-profile-abstract {
    margin: 5px;
    font-size: 0.8rem;
    text-align: center;
}

/* サイドバー カテゴリー一覧 */
.category-list {
    height: auto;
    /* background-color: #cccccc; */
}

.navbar-category {
    padding: 5px 10px;
}

.navbar-category ul {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
}

.navbar-category li {
    height: 3rem;
}

.navbar-category a {
    height: 100%;
    display: block;
    line-height: 3rem;
    /* font-weight: bold; */
}

.category-info {
    display: flex;
    justify-content: space-between;
}

.category-arrow-wrap {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category-arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    transform: rotate(45deg);
}

/* サイドバー ブログ内検索 */
.side-search {}

.side-search form {
    height: 2rem;
    margin: 5px;
    margin-top: 10px;
    position: relative;
}

.side-search input[type="text"] {
    width: 100%;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0;
}

.side-search button {
    height: 2rem;
    position: absolute;
    right: 0;
    top: 0;
}

/* サイドバー アーカイブ */
.side-archive {
    /* background-color: #cccccc; */
}

.side-archive form {
    height: 2rem;
    margin: 5px;
    margin-top: 10px;
    position: relative;
}

.side-archive select {
    width: 100%;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0;
}

/* サイドバー 新着記事 */
.side-new-article {
    /* background-color: #cccccc; */
}

.side-content-list {
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.side-content-block {
    margin: 5px;
    margin-left: 0;
    display: flex;
}

.side-content-category {
    font-size: 0.5rem;
}

.side-content-img {
    width: 75px;
    height: 75px;
}

.side-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-content-article-title {
    font-size: 1rem;
    font-weight: bold;
}

.side-content-abstract {
    width: calc(100% - 75px);
}


.gotoTop {
    position: relative;
}

#topButton {
    width: 60px;
    height: 60px;
    background-color: #0050dd;
    opacity: 0.5;
    border-radius: 40px;

    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#topButton div {
    width: 16px;
    height: 16px;
    border-left: 4px solid #ffffff;
    border-top: 4px solid #ffffff;

    opacity: 1.0;

    position: absolute;
    top: 26px;
    left: 22px;
    transform: rotate(45deg);
}

@media screen and (max-width: 959px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}