/* サイドバー */
.side-bar {
    width: 300px;
    padding: 10px;
    padding-left: 5px;
    /* background-color: #dddddd; */
    display: flex;
    flex-direction: column;
}

.side-bar .content-block-area {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

/* サイドバー プロフィール */
.side-profile {
    padding: 5px;
    /* background-color: #cccccc; */
}

.side-profile img {
    width: 120px;
    height: 120px;
    margin: 5px auto 10px;
    display: block;
}

.side-profile-abstract {
    margin: 5px;
    font-size: 0.8rem;
    text-align: center;
}

/* サイドバー ブログ内検索 */
.side-search {}

.side-search-bar {
    padding: 5px;
}

.side-search-bar form {
    height: 2.25rem;

    margin: 5px;
    margin-top: 10px;

    display: flex;
    justify-content: center;
    border: solid 2px var(--color-text);
    border-radius: 5px;
    position: relative;

    background-color: white;
}

.side-search-bar input[type="text"] {
    width: 100%;

    padding: 0 10px;

    outline: 0;
    border: none;
    border-radius: initial;
    cursor: text;
    background: transparent;
}

/* 検索ボタン */
.side-search-bar button {
    width: 50px;

    border: none;
    border-radius: initial;
    cursor: pointer;
    background: transparent;
    color: var(--color-text);
    transition: all var(--animation-time-normal) ease;
}

/* 検索ボタン ホバー時 */
.side-search-bar button:hover {
    background-color: var(--color-text);
    color: var(--color-base);
}

/* サイドバー プロフィール SNSリンク */
.side-profile-sns {
    margin: 5px;
    margin-left: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .sns-link {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;

        & a {
            width: 100%;
            padding: 5px;
            text-align: center;
            border-radius: 4px;
            display: block;
            transition: all var(--animation-time-normal) ease;
        }

        /* ホバー時 */
        & a:hover {
            transform: scale(0.90);
            color: #ffffff;
        }

        & a::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            border-radius: 4px;
            transition: all var(--animation-time-normal) ease;
            background: var(--color-base);
        }

        & a::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -2;
            left: 0;
            top: 0;
            border-radius: 4px;
        }

        & a:hover::before {
            opacity: 0;
        }
    }

    #link-instagram a::after {
        /* 左上から右下に45度で4色のグラデーション */
        background: linear-gradient(to bottom right, #741AFA, #FF30C4, #FF5D21, #FFD735);
    }
}

/* サイドバー 新着記事 */
.side-new-article {
    .article-index {
        height: 80px;
    }

    .article-index-title {
        font-size: 0.875rem;
    }

    .article-index-info {
        font-size: 0.625rem;
    }
}