/* 記載形式 */
/*

[tag or class or id]{
    width: ~
    height: ~

    margin: ~
    padding: ~

    [about color or font]: ~
    ...
    
    other: ~

}

*/

/* 全タグ共通設定 */
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* フォント設定 */
@font-face {
    font-family: 'makinas';
    src: url('../fonts/Makinas-4-Square.otf');
}

@font-face {
    font-family: 'ipaexGothic';
    src: url('../fonts/ipaexg.ttf');
}

@font-face {
    font-family: 'ipaexMincho';
    src: url('../fonts/ipaexm.ttf');
}

/* 文字装飾の初期化 */
a {
    text-decoration: none;
    color: black;
}

/* デバッグ用 枠線 */
/* body * {
    border: 2px solid black;
    background-color: #ffaaaa;
} */

body * {
    font-family: 'ipaexGothic';
    box-sizing: border-box;
}

/* タイトル 共通 */
.title {
    font-family: 'makinas';
    color: #000033;
}

/* ナビゲーションバー 共通 */
.navbar * {
    margin: 0;
}

.navbar div {
    margin: 0 auto;
}

.navbar ul {
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/* ヘッダー タイトル */
.header-title {
    width: 1000px;
    margin: 10px auto;
    text-align: center;
}

.header-title a {
    display: block;
}

.header-title .title {
    font-size: 4rem;
    /* font-weight: bold; */

    display: block;
}

.header-title .title-explanation {
    opacity: 0.6;
    font-size: 1rem;
    display: block;
}

/* ヘッダー ナビゲーションバー */
header .navbar {
    width: 100%;
    height: 2rem;
    background-color: #000033;
    box-sizing: border-box;
}

.header-navbar {
    width: 1000px;
    text-align: center;
}

.header-navbar ul li {
    width: 25%;
    line-height: 2rem;
}

.header-navbar a {
    color: #ffffff;
    font-size: 1.5rem;
    display: block;
}

.header-navbar a:hover {
    color: #000033;
    background-color: #ffffff;
}

/* 表示設定 */
.contains {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

/* メインコンテンツ */
.main-contains {
    width: 700px;
    margin: 5px;
    padding: 5px;
    background-color: #dddddd;
}

/* メインコンテンツ ナビゲーションバー */
.main-contains .navbar {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.main-navbar {
    height: 100%;
    text-align: center;
}

.main-navbar ul {
    height: 100%;
}

.main-navbar li {
    width: 35%;
    height: 100%;
}

.main-navbar a {
    height: 100%;
    margin: 0 15px;
    padding: 3px;
    color: #ffffff;
    background-color: #3350b0;
    display: block;
    box-sizing: border-box;
}

.main-navbar span {
    height: 100%;
    border: 2px #ffffff dashed;
    display: block;
    box-sizing: border-box;

    line-height: 3rem;
}

.main-navbar a:hover {
    color: #3350b0;
    background-color: #ffffff;
}

.main-navbar a:hover span {
    border-color: #3350b0;
}

/* 記事一覧 */
.article-all {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* 記事概要 */
.article-index {
    width: 310px;
    height: auto;
    margin: 15px;
    background-color: #aaaaaa;
    /* border: 1px solid #000; */
    box-sizing: border-box;
}

.article-index a {
    display: block;
}

/* 記事概要 記事画像 */
.article-index-thumbnail img {
    width: 100%;
    height: 75%;
}

/* 記事概要 タイトル */
.article-index-title {
    margin: 0;
    color: #000044;
}

/* 記事概要 記事情報 */
.article-index .abstract {
    margin: 5px 0;
}

.article-index .abstract * {
    margin: 5px;
}

/* 記事概要 投稿日時 */
.article-index-date time {
    opacity: 0.5;
    font-style: italic;
}

/* 記事概要 カテゴリ */
.article-index-category {
    opacity: 0.5;
}

/* サイドバー */
.side-bar {
    width: 280px;
    margin: 5px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
}

.side-content-title {
    height: 2rem;
    margin: 5px;
    padding-left: 5px;
    line-height: 2rem;
    font-weight: bold;

    border: 1px solid #000033;
}

/* サイドバー プロフィール */
.side-profile {
    margin: 5px;
    padding: 5px;
    background-color: #cccccc;
}

.side-profile img {
    width: 240px;
    height: 240px;
}

.side-profile-abstract {
    font-size: 0.8rem;
    text-align: center;
}

/* サイドバー カテゴリー一覧 */
.category-list {
    height: auto;
    margin: 5px;
    background-color: #cccccc;
}

.navbar-category {
    margin: 5px;
}

.navbar-category ul {
    margin: 0;
    padding: 0;
    background-color: transparent;
    list-style: none;
}

.navbar-category li {
    height: 3rem;
}

.navbar-category a {
    height: 100%;
    display: block;
    line-height: 3rem;
    /* font-weight: bold; */
}

.category-info {
    display: flex;
    justify-content: space-between;
}

.category-arrow-wrap {
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category-arrow {
    width: 10px;
    height: 10px;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    transform: rotate(45deg);
}

/* サイドバー ブログ内検索 */

.side-search {
    margin: 5px;
    background-color: #cccccc;
}

/* .side-search div {} */

.side-search form {
    height: 2rem;
    margin: 5px;
    margin-top: 10px;
    position: relative;
}

.side-search input[type="text"] {
    width: 260px;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 0;
    outline: 0;
}

.side-search button {
    height: 2rem;
    position: absolute;
    left: 230px;
    top: 0;
}

/* サイドバー アーカイブ */
.side-archive {
    margin: 5px;
    background-color: #cccccc;
}

.side-archive form {
    width: 100%;
    margin: 5px;
    margin-top: 10px;
}

.side-archive select {
    width: 260px;
    height: 2rem;
    outline: 0;
}

/* サイドバー 新着記事 */
.side-new-article {
    margin: 5px;
    background-color: #cccccc;
}

.side-content-block {
    margin: 5px;
    display: flex;
}

.side-content-date .side-content-img {
    width: 75px;
    height: 75px;
}

/* フッター 共通設定 */
footer {
    background-color: #000033;
}

/* フッター タイトル */
.footer-title a {
    text-align: center;
}

.footer-title span {
    color: #ffffff;
}

/* フッター アイコン一覧 */
.footer-icon-list {
    display: flex;
    justify-content: space-evenly;
}